*{
	box-sizing: border-box;
}
body{
	background: url('bg.jpg');
}
.container{
	position: relative;
	top: 10px;
	left: 25%;
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid transparent;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, .7),
			 -10px -10px 14px rgba(0, 0, 0, .7);
	border-radius: 25px;
	backdrop-filter: blur(3px);
	overflow: hidden;
}
#text{
	margin-top: 30px;
	height: 300px;
	width: 400px;
	outline: none;
	resize: none;
	border-radius: 20px;
	padding: 10px;
	box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.5),
				inset -4px -4px 10px rgba(0, 0, 0, 0.5),
				4px 4px 10px rgba(0, 0, 0, 0.5);
	font-size: 1.5em;
	font-weight: 800;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}
span{
	color: white;
	font-size: 19px;
	text-shadow: 2px 2px 4px #000;
}
.btns{
	display: flex;
}
button{
	margin-left: 50px;
	font-size: 15px;
	font-weight: 700;
	margin-top: 10px;
	height: 90px;
	width: 90px;
	outline: none;
	border: none;
	border-radius: 10px;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px rgba(255, 255, 255, .6);
    transition: 1s;         
}
.pulse{
	font-size: 20px;
	font-weight: 900;
	animation: doit 2s infinite;
}
@keyframes doit {
	0%,100%{
		color: white;
	}
	50%{
		color: red;
	}
}
button:hover{
	border-radius: 150px;
	background: linear-gradient(145deg, #1e1e1e, #191919);
	box-shadow:  10px 10px 20px #181818,
             -10px -10px 20px #202020;
    color: white;
    transition: 1s;
}